## These are libraries supported by Python that need to be install before using the program:

# Core GUI
tk

# For Hugging Face
transformers
diffusers
accelerate
huggingface_hub

# Deep learning backend
torch

# Image handling
pillow

# Optional for speedup
xformers

# Utility
numpy
